body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: auto;
    width: 100px;
    border-radius: 50%;
    padding: 8px 300px
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-right: 300px;
}

a {
    text-decoration: none;
    color: #e5e7ebcb;
    font-size: 18px;
}

.large-image {
    height: auto;
    width: 384px;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 80px 0;
    align-items: center;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.text {
    color: #e5e7ebcb;
    font-size: 18px;
}

.left {
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    max-width: 452px;
    flex-shrink: 0;
}

.right {
    padding-right: 300px;
    display: flex;
}

button {
    border-radius: 8px;
    height: 40px;
    width: 128px;
    background-color: #3882f6;
    color: #e5e7eb;
    margin-top: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.small-image {
    height: auto;
    width: 168px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 300px;
    text-align: center;
}

.middle-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 40px;
}

.info {
    display: flex;
    gap: 56px;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 168px;
    gap: 8px;
    color: #1f2937a4;
    font-size: 18px;
    padding-bottom: 52px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 120px 360px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.last-section {
    background-color: #3882f6;
    display: flex;
    margin: 100px 300px;
    padding: 50px 100px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.left-text {
    display: flex;
    flex-direction: column;
}

.call {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: bold;
}

.message {
    color: #e5e7ebc7;
    font-size: 18px;
}

.bottom {
    border: 2px solid #e5e7eb;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    font-weight: 350;
}