body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: auto;
    width: 100px;
    border-radius: 50%;
    padding: 8px 300px
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-right: 300px;
}

a {
    text-decoration: none;
    color: #e5e7ebcb;
    font-size: 18px;
}

.large-image {
    height: auto;
    width: 500px;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 64px 0
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.text {
    color: #e5e7ebcb;
    font-size: 18px;
}

.left {
    padding-left: 300px;
    display: flex;
    flex-direction: column;
}

.right {
    padding-right: 300px;
    display: flex;
}

button {
    border-radius: 8px;
    height: 24px;
    width: 100px;
    background-color: #3882f6;
    color: white;
    margin-top: 8px;
}